body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addBlinkyDancer, .addPoleDancer, .addBreakDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer, .blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.breakDancer{
  background: url(http://i895.photobucket.com/albums/ac152/xirro/spongebobjellyfish.png);
  position: absolute;
  width: 600px;
  height: 600px;
}

.poleDancer{
  background: url(./img/patrickpole3.png);
  width:100px;
  height:150px;
  position:absolute;
}
